.idea
.vscode
.DS_Store
node_modules
*.pyc
*.log
settings_*.py
/.project
/build
dist
/venv
run_detached*.py
populate_db_with_*.py
/wip
.rps
media
*.zip
/static
package-lock.json
int_tests.py
test_imgs
/shop/static/shop