{% load static %}
{% load horizontal_menu from navigation %}
{% load horizontal_secondary_menu from navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css"
        integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/regular.css"
        integrity="sha384-avJt9MoJH2rB4PKRsJRHZv7yiFZn8LrnXuzvmZoD3fh1aL6aM6s0BBcnCvBe6XSD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css"
        integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css"
        integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">

  <link rel="icon" href="/favicon.jpg">

  {% block ga %}
    {% include "ga.html" %}
  {% endblock ga %}

  <script src="{% static "js/dist/bundle.js" %}"></script>


  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Sell</title>
  {% endif %}
</head>
<body>
{% block header %}
  <header class="top-header">
    <div class="top-bar">
      <div class="container-fluid">
        <div class="row d-flex">

          <div class="col-sm-7">
            <ul class="list-inline mb-0">
              <li class="list-inline-item pr-3 mr-0">
                <div class="d-flex">
                  <div class="svg-icon mr-2">
                    <img src="{% static "img/phone.svg" %}" alt=""/>
                  </div>
                  {% for phone in phone_numbers %}
                    <span class="px-1 text-highlighted">{{ phone }}</span>
                  {% endfor %}
                </div>
              </li>
              <li class="list-inline-item px-3 border-left d-none d-lg-inline-block">
                {% for greeting in greetings %}
                  <span class="px-1">{{ greeting }}</span>
                {% endfor %}
              </li>
            </ul>
          </div>
          <div class="col-sm-5 d-flex justify-content-end">


            <div class="top-bar-search">
              <form id="searchForm" method="GET">
                <div class="input-group input-group-search">

                  <input type="text"
                         name="q"
                         class="form-control"
                         aria-label="Search"
                         placeholder="Знайти"
                         value={{ query }}>
                  <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="fa fa-search"></i>
                  </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="mainNavBar"
         class="navbar navbar-expand-lg navbar-sticky navbar-airy navbar-light bg-white bg-fixed-white">
      <div class="container-fluid">
        <div class="navbar-brand">
          <a href="/">
            <img src="{% static "img/sell.svg" %}" alt="">
          </a>
        </div>

        <div class="collapse navbar-collapse">

          {% horizontal_menu items=categories current_category=currentCategory %}

        </div>
      </div>
    </div>

    {% horizontal_secondary_menu items=secondary_categories current_category=currentCategory %}

  </header>
{% endblock header %}

{% block content %}{% endblock content %}

</body>
</html>