{% extends "base.html" %}
{% load upper from currency_filter %}
{% load breadcrumb from navigation %}
{% load vertical_menu from navigation %}
{% load vertical_filters from navigation %}

{% block breadcrumbs %}
  {% breadcrumb path=breadcrumbPath token=currentCategory %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="products-grid col-xl-9 col-lg-8 order-lg-2">
      <div class="row">

        {% for product in products %}
          <div class="col-xl-4 col-sm-6">
            <div class="product">
              <div class="product-image">
                <img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-1/img/product/kyle-loftus-590881-unsplash.jpg"
                     alt="product" class="img-fluid">
                <div class="product-hover-overlay"><a href="/" class="product-hover-overlay-link"></a>
                  <div class="product-hover-overlay-buttons">
                    <a href="#" class="btn btn-outline-dark btn-product-left"><i
                            class="fa fa-shopping-cart"></i>
                    </a>
                    <a href="/" class="btn btn-dark btn-buy"><i
                            class="fa-search fa"></i>
                      <span class="btn-buy-label ml-2">Перегляд</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="py-2">
                <p class="text-muted text-sm mb-1">{{ product.product_name }}</p>
                <h3 class="h6 text-uppercase mb-1">
                  <a href="/" class="text-dark">{{ product.product_description }}</a></h3>
                <span class="text-muted">{{ product.product_price }} {{ product.product_currency | upper }}.</span>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
      <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
        <ul class="pagination">
          <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">Prev</span><span
                  class="sr-only">Previous</span></a></li>
          <li class="page-item active"><a href="#" class="page-link">1 </a></li>
          <li class="page-item"><a href="#" class="page-link">2 </a></li>
          <li class="page-item"><a href="#" class="page-link">3 </a></li>
          <li class="page-item"><a href="#" class="page-link">4 </a></li>
          <li class="page-item"><a href="#" class="page-link">5 </a></li>
          <li class="page-item"><a href="#" aria-label="Next" class="page-link">
            <span aria-hidden="true">Next</span><span class="sr-only">Next     </span>
          </a>
          </li>
        </ul>
      </nav>
    </div>

    {#    SIDEBAR  #}

    <div class="sidebar col-xl-3 col-lg-4 order-lg-1">
      <div class="sidebar-block px-3 px-lg-0 mr-lg-4">
        <a data-toggle="collapse" href="#categoriesMenu"
           aria-expanded="false" aria-controls="categoriesMenu"
           class="d-lg-none block-toggler">Product Categories</a>

        <div id="categoriesMenu" class="expand-lg collapse">
          {% vertical_menu items=verticalCategoriesTree current_category=currentCategory %}
        </div>

      </div>

      {% vertical_filters items=filters current_category=currentCategory %}

    </div>
  </div>
{% endblock content %}
