{% extends "base.html" %}
{% load upper from currency_filter %}
{% load breadcrumb from navigation %}
{% load vertical_menu from navigation %}
{% load vertical_filters from navigation %}



{% block content %}
  <section class="header">
    {% block breadcrumbs %}
      {% breadcrumb path=breadcrumbPath token=currentCategory %}
    {% endblock %}
  </section>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 order-lg-2">
        <div class="row">

          {% for product in products %}
            <div class="col-xl-4 col-sm-6">
              <div class="product">
                <div class="product-image">
                  <a rel="canonical" href="/product/{{ product.product_id }}">
                      <img src="/media/{{ product.productimage__product_photo }}"
                           alt="product" class="img-fluid">
                    </a>
                </div>
                <div class="py-3 product-info">
                  <h1 class="h6 text-uppercase product-info_text mb-1">
                    <a rel="canonical" href="/product/{{ product.product_id }}" class="text-dark">{{ product.product_name }}</a>
                  </h1>
                  <div class="row pr-2 pl-2">
                    <div class="col-xl-6 col-lg-6 order-lg-6">
                      <span class="price">{{ product.product_price }} </span>
                      <span class="price">{{ product.product_currency | lower }}</span>
                    </div>
                    <div class="col-xl-6 col-lg-6 order-lg-6">
                       <div class="instocktiny">{{ product.product_state__product_state_name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
          <ul class="pagination">
            {#        TODO implement request.get_full_path#}
            {#        TODO move this block to the tag#}

            <li class="page-item">
              <a href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %}"
                 aria-label="Previous"
                 class="page-link  {% if not products.has_previous %}disabled{% endif %}">
                <span aria-hidden="true">Prev</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            {% for page_number in page_range %}
              {% if products.number == page_number %}
                <li class="page-item active">
                  <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
                </li>
              {% endif %}
            {% endfor %}

            <li class="page-item">
              <a href="{% if products.has_next %}?page={{ products.next_page_number }}{% endif %}" aria-label="Next"
                 class="page-link {% if not products.has_next %}disabled{% endif %}">
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      {#    SIDEBAR  #}

      <div class="sidebar col-md-auto">

        {% vertical_menu items=verticalCategoriesTree current_category=currentCategory %}

        {% vertical_filters items=filters current_category=currentCategory restricted=restricted%}

      </div>
    </div>
  </div>
{% endblock content %}
