{% extends "base.html" %}
{% load upper from currency_filter %}
{% load breadcrumb from navigation %}
{% load vertical_menu from navigation %}
{% load vertical_filters from navigation %}


{% block content %}
  <section class="header">
    {% block breadcrumbs %}
      {% breadcrumb path=breadcrumbPath token=currentCategory %}
    {% endblock %}
  </section>
  <div class="container">
    <div class="row">
      <div class="products-grid col-xl-9 col-lg-8 order-lg-2">
        <div class="row">

          {% for product in products %}
            <div class="col-xl-4 col-sm-6">
              <div class="product">
                <div class="product-image">
                  <img src="/media/{{ product.product_photo }}"
                       alt="product" class="img-fluid">
                  <div class="product-hover-overlay">
                    <a href="/product/{{ product.product_id }}" class="product-hover-overlay-link"></a>
                    <div class="product-hover-overlay-buttons">
                      <a href="#" class="btn btn-outline-dark btn-product-left"><i
                              class="fa fa-shopping-cart"></i>
                      </a>
                      <a href="/product/{{ product.product_id }}" class="btn btn-color btn-buy">
                        <i class="fa-search fa"></i>
                        <span class="btn-buy-label ml-2">Глянути</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="py-2">
                  <p class="text-muted text-sm mb-1">{{ product.product_name }}</p>
                  <h3 class="h6 text-uppercase mb-1">
                    <a href="/product/{{ product.product_id }}" class="text-dark">{{ product.product_description }}</a>
                  </h3>
                  <span class="text-muted">{{ product.product_price }} {{ product.product_currency | upper }}.</span>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock content %}