<section>
  <div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-12">
      <div class="home-section-header">
        {{ section_title }}
      </div>
    </div>
  </div>
  <div class="row products-grid">
    <div class="col-xl-10 col-lg-10 order-lg-10">
      <div class="row">
        <div class="owl-carousel owl-carousel-products owl-theme owl-dots-modern home-slider owl-loaded owl-drag"
             data="{{ button_class }}">
          {% for product in products %}
            <div class="item">
              <div class="product">
                <div class="product-image">
                  <a rel="canonical" href="/product/{{ product.product_id }}">
                    <img src="/media/{{ product.productimage__product_photo }}"
                         alt="product" class="img-fluid">
                  </a>
                </div>
                <div class="py-3 product-info">
                  <h1 class="h6 text-uppercase product-info_text mb-1">
                    <a rel="canonical" href="/product/{{ product.product_id }}"
                       class="text-dark">{{ product.product_name }}</a>
                  </h1>
                  <div class="row pr-2 pl-2">
                    <div class="col-xl-6 col-lg-6 order-lg-6">
                      <span class="price">{{ product.product_price }} </span>
                      <span class="price">{{ product.product_currency | lower }}</span>
                    </div>
                    <div class="col-xl-6 col-lg-6 order-lg-6">
                      <div class="instocktiny">{{ product.product_state__product_state_name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>