<ul class="navbar-nav mx-auto">

  {% for category in menu_items %}
    <li class="nav-item dropdown">
      {#          TODO: add setting to show/hide images #}
      {#      <a id="homeDropdownMenuLink{{ category.category_id }}"#}
      {#         href="/{{ category.category_code }}/"#}
      {#         aria-haspopup="true"#}
      {#         aria-expanded="true"#}
      {#         class="nav-link {% if current_category.category_code == category.category_code %} active {% endif %}">#}
      {#        {{ category.category_name }}#}
      {#      </a>#}
      <div class="nav-item__cat">
        <div class="nav-item__cat-item">
          <a id="homeDropdownMenuLink{{ category.category_id }}"
             href="/category/{{ category.category_code }}/"
             aria-haspopup="true"
             aria-expanded="true"
             class="nav-link {% if current_category.category_code == category.category_code %} active {% endif %}">
            {#          TODO: add setting to show/hide images #}
            {#            <img alt="Shop by category"#}
            {#                 src={{ category.category_img }}#}
            {#                         class="acs_tile__image">#}
            <span class="{% if current_category.category_code == category.category_code %}nav-link__name{% endif %}">{{ category.category_name }}</span>
          </a>
        </div>
      </div>
    </li>
  {% endfor %}

</ul>