.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #868e96;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a:hover {
  color: #6e2ed5;
  text-decoration: underline;
}

.page-link:hover {
  z-index: 2;
  color: #868e96;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #9a6ee2;
  border-color: #9a6ee2;
}

.nav-item__cat {
  display: flex;
}

.nav-item__cat-item {
  flex-direction: column;
}

.nav-item__cat-item img {
  height: 50px;
}

.disabled {
  color: #dee2e6;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}