@media (min-width: 992px) {
  .detail-full-item {
    height: calc(100vh - 125px - 2rem);
  }
}

.detail-full-item {
  width: 100%;
  min-height: 600px;
}

.detail-full-item__img {
  height: 35em;
}

.owl-prev-button {
  position: absolute;
  top: 230px;
  bottom: 0;
  display: none;
  zoom: 1;
  margin: 0;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 1em;
  opacity: .9;
  border-radius: 50px;
  border: 1px solid #F48000;
  color: #F48000;
}

.owl-next-button {
  display: none;
  left: 640px;
  position: absolute;
  top: 230px;
  zoom: 1;
  margin: 0;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 1em;
  opacity: .9;
  border-radius: 50px;
  border: 1px solid #F48000;
  transition: all .3s linear;
  color: #F48000;
}

.owl-next-button:focus,
.owl-prev-button:focus {outline:0;}

.owl-display {
  display: inline-block !important;
}

.owl-carousel .owl-item img {
  display: block;
  margin: 0 auto;
  width: auto;
}