.top-bar-search {
  width: 100%;
}

.top-bar-search .input-group {
  width: 100%;
  margin-top: -0.35em;
}

.form-control {
  height: calc(1.7rem + 2px);
  padding: 0 0.75rem;
  font-size: .9rem;
  border-right-color: transparent;
}

.input-group-append {
  height: calc(1.7rem + 2px);
}

.input-group-text {
  background-color: #fff;
  border-left-color: transparent;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #ced4da;
  border-right-color: transparent;
}